html{
    background-color: #181818;
    font-family: "helvica neue", Arial, sans-serif;
    color: white;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}



.form{
    width: 90%;
    min-width: 28.125rem;
    max-width: 32rem;
    background-color: #0e1010;
    padding: 1em;
}
.form fieldset{
    border: none;
   padding: 0;
    padding:0;
}

label,
input,
textarea{
    box-sizing: border-box;
    width: 100%;
    display: block;
    
}

input, textarea{

    background-color: rgba(0,0,0,.3);
    border: 2px solid transparent;
    border-bottom-color:#bbb ;
    padding: 75em;
    margin: .5em 0 2.5em;
    color: white;
    outline: 0; /* este comando dara uma margem na estrutura do input solicitado*/
}

input:invalid:focus, textarea:invalid:focus{

    border-bottom: 2px solido #ff000d;
}

input:valid:focus, textarea:valid:focus{

    border-bottom: 2px solid #0ec72a;
}

input:focus, textarea:focus{
    border-bottom: 2px solid #8e999a;
    background-color: #2a2727;
}

legend{
    padding: .5em;
    text-align: center;
    font-weight: bold;
    color: #8e999a;
    font-size: 1.3em;
}

.btn{

    background-color: #2a2727;
    color: white;
    cursor: pointer;
    padding: .7rem;
    font-size: 1.2rem;
    border: none;
}