* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container-todo-menu {
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #0f0f0f;
    border-right: 1px solid #2f9ac1;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 1000;
}

.menu-lateral:hover {
    transform: translateX(0);
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-lateral .iten-menu {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.menu-lateral .iten-menu:last-child {
    border-bottom: none;
}

.menu-lateral .iten-menu a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.menu-lateral .iten-menu a:hover {
    background-color: #302f2f;
}

.menu-lateral .iten-menu a .icon {
    margin-right: 10px;
}

.menu-lateral .iten-menu a .text-link {
    font-size: 16px;
}

